@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.logo {
    font-weight: 700;
    font-size: 64px;
    color: #BBFF2C;
    position: absolute;
    left: 60px;
}

.link {
    height: 40px;
    width: 112px;
    border: #000000 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    font-family: Comfortaa;
    text-decoration: none;
    color: #000000;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.active {
    background-color: #792AFF;
    color: #FFFFFF;
}

.menu {
    display: flex;
    gap: 20px;
}

.textfont{
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 20px;
}

.skills_text {
    font-weight: 700;
    font-size: 20px;
    font: bold;
    padding: 30px;
}

.buttonfont {
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 20px;
    font: bolder;
}

.headingfont {      
    font-family: 'Inter';
}

section {
    min-height: 100vh;
}

#main {
    background-image: url(img/bgMAIN.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 80px;
    font-weight: 700px;
}

.maskot {
    width: 175px;
    transform: translate(-200px);
}

.window_header {
    background-color: #D2D0F7;
    padding: 15px 20px;
}

.window_content {
    background-color: #D2D0F7;
    text-align: center;
    padding: 40px;
}


.window {
    border: 2px solid;
    border-radius: 25px;
    overflow: hidden;
    width: 70%;
    max-width: 1500px;
    box-shadow: 0 3px 0 0 #000000;
}

.button {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    padding: 20px 60px;
    background: #BBFF2C;
    color: #000000;
    border: 2px, solid;
    border-radius: 50px;
    box-shadow: 0 5px #000000;
    text-align: center;
}

.decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes jump {
    from{transform: translateY(0);}

    to{transform: translateY(-100px);}
}

@keyframes cloudy {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}

#about {
    background-image: url(img/bgABOUT.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 100px 50px;
}

.about_heading {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 80px;
    color: #FFFFFF;
    text-shadow: 6px 4px #000000;
    letter-spacing: 3px;
}

.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about_tab {
    background-color: #792AFF;
    border-radius: 10px;
    padding: 40px;
    max-width: 400px;
    text-align: start;
}

.about_tabtext {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.about_window {
    background-color: #D2D0F7;
    border-radius: 10px;
    width: 350px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.window_header {
    background-color: #D2D0F7;
    padding: 10px;
    display: flex;
    gap: 8px;
}

.dots {
    display: flex;
    gap: 6px;
}

.dotAbout {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid;
}

.window_content {
    text-align: center;
    padding: 20px;
}

.person {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.window_text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    width: 80%;
}

.about_decor {
    width: 190px;
    animation: cloudy 4000ms infinite;
}

#skills {
    background-image: url(img/bgSKILLS.png);
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 100px 50px;
}

.skills_heading {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 40px;
    text-shadow: 6px 4px #000000;
    margin: 145px 0px 40px;
}

.skills_container {
    display: flex;
    justify-content: center;
}

.skills_window {
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 0px black;
    overflow: hidden;
    max-width: 1000px;
    height: 500px;
}

.skills_header {
    background: #d4d4fb;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 2px solid black;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid;
}

.skills_button {
    margin: 40px;
}

.red {
    background: #FF6A00;
}
.yellow {
    background: #FFE603;
}
.green {
    background: #04C800;
}

.skills_icons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px;
}

#works {
    background-image: url(img/bgWORKS.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 40px;
}

.works_heading {
    font-weight: 700;
    font-size: 90px;
    color: #FFFFFF;
    text-shadow: 6px 4px #000000;
    margin-bottom: 70px;
}

.works_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    max-width: 1600px;
}

.work_image {
    width: 650px;
    border-radius: 20px;
}

#comments {
    background-image: url(img/bgCOMMENTS.png);
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 100px 50px;
}

.comments_heading {
    font-weight: 700;
    font-size: 90px;
    color: #FFFFFF;
    text-shadow: 6px 4px #000000;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 60px;
}

.profile_card {
    background-color: #c8b8ff;
    border-radius: 10px;
    padding: 15px;
    width: 180px;
    box-shadow: 3px 4px 0px black;
    transform: scale(1.3);
    text-align: left;
}

.profile_card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.window_buttons {
  display: flex;
  gap: 5px;
  margin-bottom: 8px;
}

.buttons {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid;
}

.comment {
    position: relative;
    width: 430px;
    display: block;
}

.comment img {
    width: 100%;  
}

.comment p {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
}

.menu_control {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

@media (max-width: 1000px) {
    .maskot {
        transform: none;
        width: 100px;
    }

    .name {
        font-size: 30px;
    }

    .textfont {
        font-size: 14px;
    }

    .window_content {
        padding: 20px 16px;
    }

    .window_btn {
        height: 10px;
    }

    .window_header {
        padding: 10px;
    }

    .button {
        font-size: 14px;
        padding: 18px 26px;
        min-width: 210px;
    }

    .decoration {
        animation: none;
    }

    .about_tab {
        margin: 35px;
    }

    .about_window {
        max-width: 700px;
    }

    .comment_bubble {
        max-width: 300px;
    }

    .comment_text {
        font-size: 14px;
    }

    .menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #200153;
        z-index: -1;
    }

    .show {
        display: flex;
    }

    .menu_control {
        display: block;
    }

    header {
        justify-content: flex-end;
    }
}